/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  padding: 50px;
  background-color: #ffffff;
}

#datetime-picker {
  padding: 10px;
  font-size: 16px;
  width: 200px;
  margin-bottom: 20px;
  border-radius: 6px;
  border: solid 2px rgb(114, 113, 113);
}

#datetime-picker:hover {
  border: solid 2px black;
}
#datetime-picker:focus {
  border: solid 2px rgb(6, 126, 255);
  outline: none; /* убираем стандартное выделение */
}

#datetime-picker:disabled {
  border: solid 2px rgb(154, 154, 154);
}

[data-start] {
  padding: 10px 20px;
  font-size: 16px;
  margin-left: 10px;
  border-radius: 6px;
}

.timer {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.timer .field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer .value {
  font-size: 48px;
  color: #1e1e1e;
}

.timer .label {
  font-size: 14px;
  color: #555;
  margin-top: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
/* ======================================================== */

.form {
  width: 360px;
  display: flex;
  flex-direction: column;
}

label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #474747;
  gap: 6px;
}

input[type='number'] {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #d1d1d1;
  border-radius: 6px;
  outline: none;
  transition: border-color 0.2s;
}

input[type='number']:hover {
  border-color: black;
}

input[type='number']:focus {
  border-color: #4285f4;
}

fieldset {
  border: 1px solid #d1d1d1;
  padding: 15px;
  border-radius: 6px;
  display: flex;
  gap: 25px;
  align-items: center;
  background-color: #fff;
  margin: 16px 0 24px 0;
}

fieldset:hover {
  border-color: black;
}

legend {
  padding: 0 6px;
  font-size: 14px;
  color: #474747;
}

fieldset label {
  flex-direction: row;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  color: #474747;
}

input[type='radio'] {
  width: 16px;
  height: 16px;
}

button[type='submit'] {
  width: 100%;
  height: 40px;
  background-color: #4e75ff;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  transition: background-color 0.25s;
}

button[type='submit']:hover {
  background-color: #6c8cff;
}
