/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;

  padding: 50px;
  background-color: #f5f5f5;
}

#datetime-picker {
  padding: 10px;
  font-size: 16px;
  width: 200px;
  margin-bottom: 20px;
  border-radius: 6px;
  border: solid 2px rgb(114, 113, 113);
}

#datetime-picker:hover {
  border: solid 2px black;
}
#datetime-picker:focus {
  border: solid 2px rgb(6, 126, 255);
  outline: none; /* убираем стандартное выделение */
}

#datetime-picker:disabled {
  border: solid 2px rgb(154, 154, 154);
}

[data-start] {
  padding: 10px 20px;
  font-size: 16px;
  margin-left: 10px;
  border-radius: 6px;
}

.timer {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.timer .field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer .value {
  font-size: 48px;

  color: #1e1e1e;
}

.timer .label {
  font-size: 14px;
  color: #555;
  margin-top: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

fieldset {
  width: 360px;
  height: 72px;
}
